@media (max-width: 992px) {
  nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  #inicio h1 {
    font-size: 3rem;
  }

  .planes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .galeria-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  section {
    padding: 4rem 1.5rem;
  }

  #inicio {
    text-align: center;
    justify-content: center;
  }

  #inicio h1 {
    font-size: 2.5rem;
  }

  #inicio a {
    display: block;
    margin-bottom: 1rem;
  }

  .beneficios-container,
  .horarios-container {
    flex-direction: column;
    align-items: center;
  }

  .planes-container,
  .galeria-container {
    grid-template-columns: 1fr;
  }

  #contacto {
    flex-direction: column;
  }

  .reglamento-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  nav ul {
    gap: 1rem;
  }

  #inicio h1 {
    font-size: 2rem;
  }

  section h2 {
    font-size: 2rem;
  }
}

/* ========================================= */
/* RESPONSIVE NOSOTROS */
/* ========================================= */

@media (max-width: 900px) {

  #nosotros {
    margin-top: 3rem;

    padding: 4rem 0;
  }

  .nosotros-container {
    grid-template-columns: 1fr;

    min-height: auto;
  }

  /* IMAGEN */

  .nosotros-image {
    height: 420px;

    margin-bottom: 3rem;
  }

  .nosotros-image::after {
    background:
      linear-gradient(
        to bottom,
        rgba(5,5,5,0.1),
        rgba(5,5,5,0.92)
      );
  }

  body.light-mode .nosotros-image::after {
    background:
      linear-gradient(
        to bottom,
        rgba(255,255,255,0.05),
        rgba(245,245,245,0.92)
      );
  }

  /* CONTENIDO */

  .nosotros-content {
    padding: 0 1rem;
  }

  .section-tag {
    margin: 0 auto 1.5rem;

    display: table;
  }

  .nosotros-content h2 {
    font-size: 3.6rem;

    text-align: center;

    margin-bottom: 2rem;
  }

  .nosotros-text p {
    font-size: 1rem;

    line-height: 1.9;
  }

  .gym-info strong {
    font-size: 3rem;
  }

  .coach-section {
    padding-left: 1.2rem;
  }

  .coach-section h3 {
    font-size: 2rem;
  }

  .coach-skills {
    gap: 2rem;
  }

  .coach-skills strong {
    font-size: 2rem;
  }
}